# Sensitive data
.env
.env.*
!.env.example

# Python thrash
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
**/__pycache__/

# System
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Database
postgres_data/

# My files
app/services/temp_test_service.py